﻿<h1>Server</h1>

<div class="container">
    <form action="" method="get">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> IP: </label>
            <div class="col-sm-10">
                <input required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" class="form-control" type="text" name="IP" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Port: </label>
            <div class="col-sm-10 ">
                <input required pattern="^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$" class="form-control" type="text" name="Port" />
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Verbinden" />
    </form>
</div>
<br />
<div class="container">
    @if (ViewBag.nodesExists != null)
    {
        <table class="table">
            <tr>
                <th>Adresse</th>
                <th>Status</th>
                <th>Status setzten</th>
                <th>Dienste</th>
            </tr>
            @foreach (var item in ViewBag.nodes)
            {

                <tr>
                    <td>
                        @item.IP:@item.Port
                    </td>
                    <td>
                        @item.State
                    </td>
                    <td>
                        @{
                            switch (item.State)
                            {
                                case VS_Models.Node.NodeStates.Error:
                                    @Html.ActionLink("Online", "SwitchMode", new { IP = item.IP, Port = item.Port, NewState = VS_Models.Node.NodeStates.Online }, new { @class = "btn btn-sucess btn-sm" })
                                    @Html.ActionLink("Wartung", "SwitchMode", new { IP = item.IP, Port = item.Port, NewState = VS_Models.Node.NodeStates.Maintenance }, new { @class = "btn btn-warning btn-sm" })
                                    break;
                                case VS_Models.Node.NodeStates.Maintenance:
                                    @Html.ActionLink("Online", "SwitchMode", new { IP = item.IP, Port = item.Port, NewState = VS_Models.Node.NodeStates.Online }, new { @class = "btn btn-success btn-sm" })
                                    break;
                                case VS_Models.Node.NodeStates.Online:
                                    @Html.ActionLink("Wartung", "SwitchMode", new { IP = item.IP, Port = item.Port, NewState = VS_Models.Node.NodeStates.Maintenance }, new { @class = "btn btn-warning btn-sm" })

                                    break;
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Services", "List", new { IP = item.IP, Port = item.Port }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }
        </table>
    }
</div>