﻿<h1>Services von @ViewBag.detailIP:@ViewBag.detailPort</h1>
@Html.ActionLink("Zurück", "Index", new { IP = ViewBag.detailIP, Port = ViewBag.detailPort }, new { @class = "btn btn-primary btn-lg" })

@Html.ActionLink("Upload", "Upload", new { IP = @ViewBag.detailIP, Port = @ViewBag.detailPort }, new { @class = "btn btn-primary btn-lg" })
<div class="container">
    <table class="table">
        <tr>
            <th>Adresse</th>
            <th>Aktion</th>
        </tr>
        @foreach (var service in ViewBag.services)
        {

            <tr>
                <td>
                    @service.Name
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { Name = service.Name, IP = @ViewBag.detailIP, Port = @ViewBag.detailPort }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>