﻿@{

    String IP = Request.Params.Get("IP");
    String Port = Request.Params.Get("Port");
}
<h1>Upload zu @IP : @Port</h1>


<form action="" method="post" enctype="multipart/form-data">
    @Html.ActionLink("Zurück", "Index", new { IP, Port }, new { @class = "btn btn-primary" })
    <div id="upload-div" class="btn btn-primary file">
        Upload<input id="upload" display="hidden" type="file" name="file" />
    </div>
    <input type="hidden" name="IP" value="@IP" />
    <input type="hidden" name="Port" value="@Port" />
    <input class="btn btn-primary" type="submit" />
</form>